---
interface Props {
  withDivider?: boolean;
  level?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
}
const { withDivider = false, level = "h1" } = Astro.props;
import Typography from "./Typography.astro";
---

<div>
  <Typography as={level} class="capitalize">
    <slot />
  </Typography>
  {withDivider && <div class="border-b border-gray-300 mt-4 mb-6" />}
</div>
